* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* .main-hero-div {
  background: #2b5876;
  background: -webkit-linear-gradient(to top, #4e4376, #2b5876);
  background: linear-gradient(to top, #4e4376, #2b5876);
} */

/* .main-hero-div {
  background-image: url("./Image/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 */

.teamSection {
  background: #000428;
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  background: linear-gradient(to top, #004e92, #000428);
  padding: 60px 30px;
}

.formSection {
  background: #000428;
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  background: linear-gradient(to top, #000428, #004e92);
  padding: 60px 30px;
}

.landingPage {
  /* background: #000428;
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  background: linear-gradient(to top, #004e92, #000428);
  padding: 60px 30px; */

  background-image: url("./Image/Landpagebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
